site_name: CCX Documentation
site_description: Documentation
site_url: ''
copyright: Severalnines AB, &#169; 2024
theme:
  name: material
  palette:
    # Light mode
    - media: '(prefers-color-scheme: light)'
      scheme: percona-light
      primary: custom
      accent: custom
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
        # Dark mode
    - media: '(prefers-color-scheme: dark)'
      scheme: slate
      primary: custom
      accent: custom
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
  features:
    - search.highlight
    - navigation.top
    - content.tabs.link
    - content.code.copy
    - navigation.tracking
    - content.action.edit
    - content.action.view
    - content.code.copy
  logo: assets/ccx.png
  favicon: assets/favicon.png
markdown_extensions:
  - codehilite:
      guess_lang: true
      use_pygments: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
nav:
  - Admin Guide:
      - Introduction: admin/Index.md
      - Installation:
          - Index: admin/Installation/Index.md
          - Secrets: admin/Installation/Secrets.md
          - Cloud Providers: admin/Installation/Cloud-Providers.md
          - Configuring Helm Install: admin/Installation/Configuring-Helm-Install.md
          - Dynamic Dns: admin/Installation/Dynamic-DNS.md
          - Mysql Operator Installation: admin/Installation/Mysql-Operator-Installation.md
          - Postgres Operator Installation: admin/Installation/Postgres-Operator-Installation.md
          - Observability: admin/Installation/Observability.md
          - Logging: admin/Installation/Logging.md
          - Multi Az For Volumes: admin/Installation/Multi-AZ-For-Volumes.md
          - Limitations: admin/Installation/Limitations.md
      - Customisation:
          - Api: admin/Customisation/API.md
          - Frontend: admin/Customisation/Frontend.md
          - Jwt: admin/Customisation/JWT.md
      - Observability: admin/Observability.md
      - Day 2 Operations:
          - Autoscaling: admin/Day2/Autoscaling.md
          - Config Management: admin/Day2/Config-Management.md
          - Index: admin/Day2/Index.md
          - Lifecycle Management: admin/Day2/Lifecycle-Management.md
          - Notifications: admin/Day2/Notifications.md
          - Upgrading The Control Plane: admin/Day2/Upgrading-the-Control-Plane.md
      - Security:
          - Tls And Ssl: admin/Security/TLS-and-SSL.md
      - Testing:
          - Dast: admin/Testing/DAST.md
          - E2E Tests: admin/Testing/E2E-tests.md
      - Troubleshooting:
          - Operations And Management: admin/Troubleshooting/Operations-and-Management.md
          - Support: admin/Troubleshooting/Support.md
          - Troubleshooting: admin/Troubleshooting/Troubleshooting.md
      - Changelog: admin/Changelog.md
  - User Guide:
      - Introduction: user/Index.md
      - Managed Service: user/Managed-Service.md
      - Faq: user/FAQ.md
      - How-to Guides:
          - Deploy A Datastore: user/Howto/Deploy-a-Datastore.md
          - Datastore Settings: user/Howto/Datastore-settings.md
          - Config Management: user/Howto/Config-management.md
          - Scale A Datastore: user/Howto/Scale-a-Datastore.md
          - Promote A Replica: user/Howto/Promote-a-replica.md
          - Restore Backup: user/Howto/Restore-backup.md
          - Create Datastore From Backup: user/Howto/Create-Datastore-From-Backup.md
          - Upgrade Lifecycle Mgmt: user/Howto/Upgrade-Lifecycle-mgmt.md
          - Database User Management: user/Howto/Database-User-management.md
          - Database Db Management: user/Howto/Database-Db-management.md
          - Firewall: user/Howto/Firewall.md
          - Event Viewer: user/Howto/Event-viewer.md
          - Terraform Provider: user/Howto/Terraform-provider.md
      - Reference:
          - Datastore Statuses: user/Reference/Datastore-Statuses.md
          - Glossary: user/Reference/Glossary.md
          - Supported Databases: user/Reference/Supported-Databases.md
          - Observability:
              - Introduction: user/Reference/Observability/Metrics/Introduction.md
              - Mysql And Mariadb: user/Reference/Observability/Metrics/MySQL-and-MariaDB.md
              - Postgresql: user/Reference/Observability/Metrics/PostgreSQL.md
              - Redis: user/Reference/Observability/Metrics/Redis.md
              - System: user/Reference/Observability/Metrics/System.md
          - Products:
              - MSSQLServer:
                  - Overview: user/Reference/Products/MSSQLServer/overview.md
                  - Configurations: user/Reference/Products/MSSQLServer/configurations.md
                  - Limitations: user/Reference/Products/MSSQLServer/limitations.md
                  - User Management: user/Reference/Products/MSSQLServer/User-Management.md
              - MariaDB:
                  - Overview: user/Reference/Products/MariaDb/overview.md
                  - Backup: user/Reference/Products/MariaDb/Backup.md
                  - Restore: user/Reference/Products/MariaDb/restore.md
                  - Configuration: user/Reference/Products/MariaDb/configuration.md
                  - Importing Data: user/Reference/Products/MariaDb/Importing-Data.md
                  - Tsl Connection: user/Reference/Products/MariaDb/TSL-Connection.md
                  - Limitations: user/Reference/Products/MariaDb/limitations.md
              - MySQL:
                  - Overview: user/Reference/Products/MySQL/overview.md
                  - Backup: user/Reference/Products/MySQL/Backup.md
                  - Restore: user/Reference/Products/MySQL/restore.md
                  - Configuration: user/Reference/Products/MySQL/configuration.md
                  - Importing Data: user/Reference/Products/MySQL/Importing-Data.md
                  - Limitations: user/Reference/Products/MySQL/limitations.md
                  - Tsl Connection: user/Reference/Products/MySQL/TSL-Connection.md
                  - User Management: user/Reference/Products/MySQL/User-Management.md
              - PostgreSQL:
                  - Backup: user/Reference/Products/PostgreSQL/backup.md
                  - Configuration: user/Reference/Products/PostgreSQL/configuration.md
                  - Extensions: user/Reference/Products/PostgreSQL/extensions.md
                  - Importing Data: user/Reference/Products/PostgreSQL/Importing-Data.md
                  - Limitations: user/Reference/Products/PostgreSQL/limitations.md
                  - Restore: user/Reference/Products/PostgreSQL/restore.md
              - Redis:
                  - Backup: user/Reference/Products/Redis/backup.md
                  - Configuration: user/Reference/Products/Redis/configuration.md
                  - User Management: user/Reference/Products/Redis/User-Management.md
      - Technical:
          - Api: user/Technical/API.md
          - Terraform: user/Technical/Terraform.md
extra_css:
  - stylesheets/extra.css

